macro_pswd: macro_pswd{
compatible = "zmk,behavior-macro";
label = "macro_pswd";
#binding-cells = <0>;
bindings
    = <&kp LS(W)>, <&kp E>, <&kp A>, <&kp R>, <&kp E>, <&kp G>, <&kp R>, <&kp E>, <&kp A>, <&kp T>, <&kp EXCLAMATION>, <&kp 1>;
};
macro_email: macro_email{
compatible = "zmk,behavior-macro";
label = "macro_email";
#binding-cells = <0>;
bindings
    = <&kp LS(M)>, <&kp A>, <&kp R>, <&kp K>, <&kp DOT>, <&kp LS(H)>, <&kp A>, <&kp N>, <&kp S>, <&kp E>, <&kp N>,
      <&kp AT_SIGN>, <&kp LS(W)>, <&kp A>, <&kp R>, <&kp N>, <&kp E>, <&kp R>, <&kp LS(M)>, <&kp E>, <&kp D>, <&kp I>, <&kp A>,
      <&kp DOT>, <&kp C>, <&kp O>, <&kp M>, <&macro_wait_time 500>, <&kp TAB>; 
};
macro_copy: macro_copy{
compatible = "zmk,behavior-macro";
label = "macro_copy";
#binding-cells = <0>;
bindings = <&kp K>; 
};
macro_paste: macro_paste{
compatible = "zmk,behavior-macro";
label = "macro_paste";
#binding-cells = <0>;
bindings = <&kp K>; 
};